body {
	background-color: #D1D1D1;
}

.OptionPage {
	text-align: center;
  margin: 0 17%;
  padding: 2% 10%;
  font-family: Arial, sans-serif;
	color: #1E1E1E;
	background-color: white;
}

.ConfigItemContainer {
	text-align: left;
}

.ConfigItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}

.ConfigItem__Switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 26px;
}

.ConfigItem__Switch .ConfigItem__Input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ConfigItem__Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ConfigItem__Slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 6px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.ConfigItem__Input:checked + .ConfigItem__Slider {
  background-color: #2196F3;
}

.ConfigItem__Input:focus + .ConfigItem__Slider {
  box-shadow: 0 0 1px #2196F3;
}

.ConfigItem__Input:checked + .ConfigItem__Slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.ConfigItem__Slider.ConfigItem__Slider--round {
  border-radius: 12px;
}

.ConfigItem__Slider.ConfigItem__Slider--round:before {
  border-radius: 50%;
}
