body {
	background-color: #D1D1D1;
}

.Container {
	width: 187px;
	background-color: white;
	padding: 3px 8px;
	font-family: Arial, sans-serif;
	color: #1E1E1E;
    border-radius: 8px;
    display: flex;
	align-items: center;
}

.Header__Image {
	width: 26px;
	height: 26px;
}

.Header__Title {
	padding-left: 10px;
	margin: 0;
	margin-top: 2px;
}
